<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773474425139-9ik9q0s1rgpluhr0php8d2gd3qs88mag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773474425139-9ik9q0s1rgpluhr0php8d2gd3qs88mag</string>
	<key>API_KEY</key>
	<string>AIzaSyDVrbNEXeCyz0xYjmXteEpKdX3r_IfCYBE</string>
	<key>GCM_SENDER_ID</key>
	<string>773474425139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelatvisor.application</string>
	<key>PROJECT_ID</key>
	<string>travelatvisor</string>
	<key>STORAGE_BUCKET</key>
	<string>travelatvisor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773474425139:ios:032a710eef303154f34646</string>
</dict>
</plist>